.transaction-table {
  display: grid;
  grid-template-columns: 30px 1fr 30px 100px 100px 60px 110px 140px 100px 68px;
  align-items: stretch;
  gap: 8px;
  padding: 0 8px 0 8px !important; /* Sync with .expense-card-row */
  box-sizing: border-box;
}

.transaction-header {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #555;
  padding: 6px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px; 
  font-size: 13px;
  color:#0e2528;
}

.transaction-header:last-child {
  border-right: none; /* Just in case, will be empty anyway */
}

.transaction-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 6px 0;
}


.transaction-header.desc {
  justify-content: flex-start;
}

